h1 {
    margin-top: 5%;
    text-align: center;
}

.info_title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info_p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}