.container-login {
    width: 100%;
    max-width: 63.971%;
    border-radius: 25px;
    background-color: #f0f0f0;
    margin: 8% auto;
    display: flex;
    overflow: hidden;
}

.flexbox-login {
    display: flex;
    flex-direction: column;
    margin: 10% auto;

}

.login-image {
    width: 50%;

}

.title-login {
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-mini-img {
    width: 15%;
    margin: 0 0 0 0;
}

.mini-img {
    max-width : 100%;
}

.login-ou {
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
}

.form-login {
    display: flex;

    align-items: center;
}

input[name="email"],[name="password"] {
    width: 133%;
    padding: 14%;
    font-size: 1.2em;
    border-radius: 17px;
    margin: 5%;
    border: gray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    margin: 4%;
    width: 130%;
    padding: 9%;
    background-color: #5EAE64;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 75px;
    cursor: pointer;
    font-size: 125%;
}

input[type="button"] {
    margin: 4%;
    width: 130%;
    padding: 9%;
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    border-color: black;
    border-radius: 75px;
    cursor: pointer;
    font-size: 125%;
}