

.pageBio{
    display: flex;
}

.leftBio img, .rightBio img {
    height: auto;
}

.sectionBio{
    text-align: left;
    margin: 5% 5% 5% 5%;
}
.titleBio{
    text-align: center;
}
.sectionBio div{
    padding-bottom: 2%;
}
.sectionBio h3{
    padding-bottom: 2%;
}
.bottomBioInfos{
    display: flex;
}
.labels{
    width: 50%;
}
.temoignages{
    margin-left: 10%;
}

