*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
#map {
    width: 100%;
    height: 100%;
    position: fixed;
}
.fruit-item:hover{
    box-shadow: 0 0 24px 5px rgba(0,0,0,0.44);
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.popup-fixed {
    position: fixed;
    top: auto;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transform: none !important;
    margin: 0;
    border-radius: 0;
    align-items: center;
}



@media (min-width: 700px) {
    .popup-fixed {
        width: 30%;
        height: 100% !important;
        right: 0 !important;
        left: auto !important;
    }

    .leaflet-popup-content-wrapper {
        width: 100%;
        height: 100%;
    }
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    padding-top: 120px;
}

.custom-btn{
    border: none;
    background: none;
    min-width: 376px;
}

.leaflet-popup-content {
    font-size: 16px;
    min-width: 376px;
    margin-left: auto;
    margin-right: auto;


}


@keyframes border-pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(0, 187, 228);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.animation {
    border-radius: 50%;
    animation: border-pulse 1.5s infinite;
}



.fruit-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background-color: black;
    border-radius: 34px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 0 5px 0;
    padding: 12px;

}

.fruit-img {
    width: 27.82px;
    height: 26.122px;
    object-fit: cover;
    margin: 0 0 0 22px;

}

.fruit-name-stock{
    display: flex;
    flex-direction: column;
    padding: 10px 54px 0 0;
    color: white;
    align-items: flex-start;
}

.fruit-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.fruit-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.fruit-stock{
    margin: 0;
}

.fruit-price {
    margin: 0;
    font-size: 14px;
    color: white;
}
.bulle-etats{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 0 25px 0 0;
}

.btn_panier {
    border-radius: 30%;
    position:fixed;
    bottom:1%;
    left:1%;
    z-index: 9999;
    height: 9%;
    width: 5%;
}

#popup{
    width: 30%;
    height: 75%;
    left: 5%;
    bottom: 8%;
    position: absolute;
    display: none;
    z-index: 9998;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 24px 5px rgba(0,0,0,0.44);
}

.show{
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.info_panier {
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
    padding: 3%;
    border: 2px solid black;
    align-items: center;
}


p {
    font-size: 110%;
    margin: auto;
    padding-top: 5%;
}

.btn_poubelle {
    padding-top: 8px;
    border: none;
    background: none;
    width: 50px;
    height:  50px;
}

.btn_valider {
    position: absolute;
    width: 80%;
    height: 10%;
    font-weight: bold;
    background: saddlebrown;
    color: #FBFCFB;
    bottom: 5px;
}
#btnGares{
    z-index: 999;
    position: fixed;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    margin-left: 100px;
    user-select: none;

}

.put-product-here{
    overflow: scroll;
    width: 100%;
    height: 70%;
}