body {
    background-image: url("../IMG/login_img.svg");
    background-size: 50%;

    .blank {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        background: white;
        padding: 0.5% 2%;
    }

    .titleBio {
        text-align: center;
        margin-bottom: 3%;
    }


    .image_intro, .image_bio, .image_bienfaits, .image_pratique {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        border: solid #5EAE64;
    }

    .intro, .bio, .bienfaits, .pratique {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3%;

    }

    .info_title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
    }

    .info_p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .info_img {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3%;
    }
}

