body {
    background-image: url("../IMG/login_img.svg");
    background-size: 50%;
    font-family: 'Arial', sans-serif;
}

.blank {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 0.5% 2%;
}

.titleProfil {
    text-align: center;
    margin-bottom: 3%;
}

h1 {
    font-size: 300%;
}

.infos_profil{
    width: 50%;
    display: flex;
    margin-left: 10.5%;
    border-radius: 17px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-top: 2%;
    margin-bottom: 3%;
}


.nom{
    margin-left: 5%;
}

.photo_profil {
    margin-left: 5%;
    margin-bottom: 3.5%;
}

.txt_titre_commande {
    margin-top: 3%;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 8%;
}

.block_commande{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 17px;
    padding: 0.5% 2%;
}

.txt_commande{
    margin-left: 5%;
    font-size: 150%;
}

.etat_commande{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.block_voir_commande{
    display: flex;
    flex-direction: row;
    background: black;
    border-radius: 90px;
    width: 95%;
    height: 50px;
    margin-bottom: 5%;
}

.txt_etat{
    margin-top: 1%;
    margin-left: 5%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
}

input[type="button"] {
    width: 10%;
    height: 50px;
    position: absolute;
    right: 24.75%;
    font-weight: bold;
    font-size: 85%;
    color: #FFFFFF;
    background-color: green;
    border-radius: 90px;
    border: none;
}