h1 {
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
}

img {
    margin-left: 10%;
    margin-top: 3%;
}

.id_product {
    margin-left: 3%;
    width: 60%;
    display: flex;
    flex-direction: row;
    background: #FBFCFB;
}

.info {
    margin-top: 1%;
    margin-left: 10%;
}

.quantity {
    font-size: 150%;
    margin-left: 25%;
}

.delete {
    margin-left: 39%;
}


